<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta verificada</title>
</head>
<body>
    <h1>Felicidades su cuenta a sido verificada</h1>
</body>
</html>