.container-login{
    background: var(--fondo) ;     /* Blanco */
    max-width: 500px;
    width: 100%;
    margin: auto;
    text-align: center;
    backdrop-filter: blur(100px);
    border-radius: 20px;
    margin-top: 12vh;
}
.container-login > img{
    width: 50px;height: 50px;
    margin: 3rem auto 0;
}

.login{
    text-align: left;
   
  
 
}
.login>h1{
    text-align: center;
    margin: 3rem 0 2rem 0 ;
}

.form-login{
    min-width: 250px;
    max-width: 300px;
   min-height: 350px;
   margin: auto;
   padding: 1rem; 
}

.form-login label, input{
    width: 100%;
  margin: .5rem 0 2rem 0;
 
}

.form-login label{
    padding-left: .3rem;
}
.form-login > input{
    border: none;
    padding: .4rem;
    border-radius: 5px 5px 0 0;
    background-color: transparent;
    border-bottom: 1px solid var(--input);
    outline: none;
}

.form-login button{
    cursor: pointer;
  background-color: var(--btnNormal);
  border: none;
    border-radius: 5px;
  width: 100%;
    margin: 2rem 0 1rem 0;
  padding: .8rem 0;
}

.form-login a{
display: flex;
margin: .5rem 0 1rem 0;
color: var(--btnNormal);
text-decoration: none;
}

